<%= form_with(model:[post_sneaker, comment], remote: true) do |f| %>
  <div class="new-comment text-center">
    <p><%= f.text_area :comment, placeholder: "コメント", class: "comment-text-form text-left" %></p>
    <% if comment.created_at %>
      <p><%= f.submit "編集を送信", class: "btn btn-outline-secondary comment-send-btn  btn-1" %></p>
    <% else %>
      <p><%= f.submit "送信", class: "btn btn-outline-secondary comment-send-btn  btn-1" %></p>
    <% end %>
  </div>
<% end %>