<div class="post_sneaker_index">

  <div class="text-right mr-5">
    並び替え
  </div>
  
  <div class="text-right mr-5">
    並び替え
  </div>

  <div class="tab-content sneaker_image_index" id="nav-tabContent">
    <% @post_sneakers.each do |post_sneaker| %>
    <%= link_to post_sneaker_path(post_sneaker.id) do %>
      <%= attachment_image_tag post_sneaker, :post_image, :fill, 300, 300, format: 'jpeg', class: "sneaker-image" %>
    <% end %>
  <% end %>
  </div>
</div>