<div class="text-center sneaker">
  <h2>お問い合わせ</h2>

  <div id="chat-bubble-user" class="add-chat-bubble">
    <%= render partial: 'chat_bubbles', locals: { chats: @chats, user: @user, chat_room: @chat.chat_room } %>
  </div>

  <!--解決ボタン--><!--エラー表示-->
  <!--チャットメッセージ投稿フォーム-->
  <div id="chat-form">
    <%= render partial: 'user/chats/chat_form', locals: { chat: @chat, chats: @chats, chat_room: @chat.chat_room } %>
  </div>
</div>
