<div class="text-center sneaker">
  <h2>お問い合わせ</h2>

  <div id="chat-bubble" class="add-chat-bubble">
    <%= render partial: 'chat_bubbles', locals: { chats: @chats, user: @user } %>
  </div>

  <!--エラー表示--><!--チャットメッセージ投稿フォーム-->
  <div id="chat-form">
    <%= render partial: 'admin/chats/chat_form', locals: { chat: @chat, chats: @chats, user: @user } %>
  </div>