// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admin/user-edit 画面広さ
.edit {
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.edit-form {
  width: 100%;
}

// image-size
.edit-box {
  width: 30%;
  text-align: center;
}

.edit-box-1 {
  width: 70%;
}

div.edit-box-1 div.d-flex p, input.text-field {
  width: 50%;
 margin-bottom: 20px;
 font-size: 95%;
}

@media screen and (max-width: 767px) {
  .edit-forminput.admin_user_submit {
    text-align: center!important;
  }
  .edit-form {
    width: 70%;
    margin: 0 auto;
  }
  .edit-form p {
    padding: 0;
  }
  .user-id {
    text-align: center;
  }
  .edit-box-1 {
    text-align: center;
  }
  .row {
    justify-content: center;
  }
}