<div class="sneaker-width text-center">
  <h2 class="font-weight-bold mb-5">ユーザー一覧</h2>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
    <% if @users.exists? %>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_detail_path(user.id) do %>
          <%= user.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>