/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";

// リセットCSS

/* default */
html {
  margin: 0;
  padding: 0;
  font-size: 90%!important;
}

/* All */
body {
  margin: 0;
  padding: 0;
  color: #666;
  font-family: Adobe Clean;
  font-size: 1.2rem;
  text-align: left;
  line-height: 2;
  -webkit-text-size-adjust: 100%;
  position: relative;
  padding-bottom: 400px;
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none!important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 140%;
  border-bottom: 1px solid #dee2e6;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.sp {
  display: none;
}

// リセットcssここまで---

// 共通
.table thead th {
  border-top: 0px;
  margin: 0 auto;
}

// kaminari
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  font: 18.34px helvetica,arial,freesans,clean,sans-serif!important;
}

.pagination a {
  border: 0!important;
  text-decoration: none;
  color: #666!important;
}

.pagination span.disabled {
  border: 0!important;
  color: #ddd;
}

// 新規投稿・編集ページ幅サイズ
.sneaker {
  width: 80%;
  margin: 0 auto;
}

.sneaker-2 {
  width: 90%;
  margin: 0 auto;
}

// topページここから---

// top-navボタン
.top-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.post-sneaker-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.top-nav-list {
  width: 33.3%;
}

.nav-list {
  width: 100%;
  color: #666;
  border: 0px;
  background-color: #fff;
}

.nav-list-select {
  background-color: #4B4B4B;
  color: #fff;
}


// topページここまで---

// notification-countボタン
.notification-count {
  font-size: 90%;
  color: #ff5c2c;
  font-weight: bold;
}

// header設定
header {
  width: 100%;
  background-color: #212121;
  color: #fff;
}

.header-text {
  font-weight: bold;
}

// h1「Lewis」size調整
.header-title {
  font-size: 110%;
  font-weight: bold;
}

.pr-image {
  padding: 7.2px;
}

header.border-bottom {
  border-bottom: 0!important;
}

.dropdown-toggle::after {
  margin-top: 8px;
}

.pr-1 {
  padding: 7.2px;
}

// headerからmainまでの隙間
.header-bottm {
  min-height: 50px;
}

.alert-view {
  color: #fff;
  background-color: #FF5C2C;
}

// footer設定
footer {
  width: 100%;
  padding-top: 30px;
  margin: 5rem auto 0;
  background-color: #212121;
  color: #fff;
  font-weight: bold;
  bottom: 0;
  font-size: 1.4rem;
  position: absolute;
}

// ul設定横並び
ul.footer {
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

ul.footer.icon {
  width: 300px;
}

.sns {
  margin: 60px auto;
  justify-content: center;
}

// sns-icon設定
.sns-icon {
  width: 40px;
  height: 40px;
}

// copyright設定
.copyright {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #fff;
  color: #212121;
  text-align: center;
}

.copyright p {
  line-height: 50px;
}

// btn設定
.btn-1 {
  width: 100px;
  height: 40px;
  border-radius: 25px;
}
a.btn-1 {
  line-height: 28px;
}

.btn-2 {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
}

a.btn-2 {
  font-size: 70%;
  line-height: 28px;
}

.red-outline {
  color: #FF734A;
}
.blue-outline {
  color: #7C7C7C;
}

span.count-decoratio:hover {
  color: #666;
}

input.btn-radius-solid {
  width: 110px;
  height: 40px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

input.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.btn-4 {
  border-radius: 50%;
}

.btn-6 {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-size: 60%;
}

.btn-7 {
  border: 1px solid #FF734A;
  font-size: 70%;
  color: #FF734A;
  padding: 6% 4%;
  border-radius: 6px;
}
.btn-7:hover {
  color: #fff;
  background-color: #FF734A;
}

// いいねボタンcolor
.red {
  color: #FF734A;
}
.blue {
  color: #528fff;
}

// いいねの人数文字
.man-count {
  color: #FF734A;
}

// comment user-image
.comment-user-image-1 {
  width: 3rem!important;
  height: 3rem!important;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user-image-2 {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user-image-3 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user-image-4 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

// editページdiv下の空白
.div-bottom {
  margin-bottom: 2rem;
}


.text-area {
  width: 100%;
  height: 200px;
}

// chatフォームsize
.chat-form {
  height: 50px;
}

// chatフォームアンダーライン
.delete-btn-box {
  border-bottom: solid 1px gray;
  position: relative;
}

// chatdeleteボタン
a.delete-btn {
  position: absolute;
  left: 0;
  top: 65px;
}

.border-secondary {
  border: 1px solid #dee2e6 !important;
}


// user-log-inフォーム
// 新規登録-btn

// ゲストログイン-btn
.gest-log {
  background-color: #5635C6;
  color: #fff;
}
.gest-log:hover {
  background-color: #3A15B7;
  color: #fff;
}

// ログイン-btn
.log-in {
  background-color: #FF5C2C;
  color: #fff;
}
.log-in:hover {
  background-color: #EA6037;
  color: #fff;
}

.admin-log-here {
  margin-bottom: 0!important;
}


.wrapper {
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.search-window {
  padding: 5.4px 10.8px;
}

input[type="text"] {
  margin-bottom: 20px;
}

input[type="email"] {
  margin-bottom: 20px;
}

input[type="password"] {
  margin-bottom: 20px;
}

.colorgraph {
  height: 3px;
}

// user-log-inフォームここまで---

// ファイルを選択してください(削除)
#image {
  display: none;
}
.button {
  display: block;
  width: 120px;
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}


// image:hover

.fall-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.fall-item .mask,.fall-item .content {
  width: 100%;
  height: 100%;
  // position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.fall-item img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.fall-effect .mask {
  width: 100%;
  height: 100%;
  // position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.3);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.fall-effect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color:#fff;
  border: 1px solid #fff;
  background-color: transparent;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 7px 14px;
  z-index: 10;
  top: 40%;
  left: 30%;
  position: absolute;
}

.fall-effect:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.sneaker-image-bottom {
  position: absolute;
  bottom: 0;
  color: #606060;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F6F6F6;
}

@media screen and (max-width: 767px) {
body {
  padding-bottom: 500px!important;
}
}
