<div>
  <h2>ユーザー一覧</h2>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ユーザーID</th>
        <th>ユーザー名</th>
        <th>ユーザーemail</th>
        <th>退会ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_deleted == false %>
            <p class="text-success">有効</p>
          <% else %>
            <p>退会</p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>