// Place all the styles related to the user/activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.activity-unread {
  background-color: #fff!important;
  border: 0px!important;
  border-bottom: 1px solid #212121!important;
}

div.activity-read {
  background-color: #EAEAEA!important;
  border: 0px;
  border-bottom: 1px solid #212121!important;
}

.activity-name {
  color: #4E9E8F;
  font-weight: bold;
}