// Place all the styles related to the user/Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// profile_imageファイルを選択する(サイズ)
.profile_image_field {
  font-size: 60%;
}

.edit-name {
  width: 100%!important;
}

// レスポンシブ対応
@media screen and (min-width: 767px) {
.btn-1 {
  text-align: center;
}
}

@media screen and (min-width: 576px) {
}
