// Place all the styles related to the user/PostSneakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html.erb
.post_sneaker_index {
  width: 70%;
  margin: 0 auto;
}

.sort-width {
  width: 20%;
  text-align: left;
  margin-right: 0;
}

// sneaker_image_並び方
.sneaker_image_index {
  display: flex;
  flex-wrap: wrap;
}

.sneaker-image:hover {
  filter: brightness(50%);
}

// indexここまで---

// show.html.erb
.post_sneaker_show {
  width: 60%;
  margin: 0 auto;
}

// sneaker-image
.sneaker_image {
  width: 100%;
}

// caption折り返し
.caption {
  overflow-wrap: break-word;
  font-size: 90%;
}

// btn上下の隙間
.submit {
  height: 40px;
  margin: 10px 0;
}

.comment-box {
  margin: 80px 0 50px;
}

// 日付右寄せ
.create-day:last-child {
  margin-left: auto;
}

// comment font-size調整
.comment-text-size {
  font-size: 80%;
}

// comment編集・削除ボタン
.comment-btn {
  width: 4rem!important ;
  height: 2rem!important ;
  line-height: 15px!important;
  font-size: 80%;
}

.new-comment {
  margin: 0 auto;
}

.comment-text-form {
  width: 70%;
  height: 200px;
}

.comment-send-btn {
  border-radius: 10px!important;
}

.like-count {
  font-size: 70%;
}

#post_sneaker_sneakers_name {
  width: 100%;
}

// showここまで---


// user-sign_inページ
.sneaker-1 {
  width: 30%;
  margin: 0 auto;
  text-align: center!important;
}


// text-field
.log {
  width: 100%;
}

// log-btn-size
.log-btn {
  width: 100%;
  height: 35px;
  border-radius: 0.2rem;
  color: #fff;
  border: 0px;
}