// Place all the styles related to the user/PostSneakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// new.html.erb 幅のサイズ

.post_sneaker_new {
  width: 25%;
  margin: 0 auto;
}

.text-field {
  width: 100%;
}

div {
  margin-bottm: 50px;
}

// index.html.erb

.sneaker-image:hover {
  filter: brightness(50%);
}
